.fullContainer {
    display: flex;
    background-color: #1C1E25;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}
.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    height: 100%;
    width: 750px;
    margin-top: 100px;
    margin-bottom: 30px;
    border-radius: 20px;
}